
html,body{background-image:url(https://cdn.scratch.mit.edu/scratchr2/static/images/scratch-bg.png);height:100%}
.box{
  border-top-left-radius:15px;
  border-top-right-radius:15px;
  background-color:#c2c2c2;
  color:white;
  padding:10px;
  margin-left:9em;
  margin-right:9em;
}
.box-content{
  border:2px solid #c2c2c2;
  padding:10px;
  margin-left:9em;
  margin-right:9em;
  backgroudn-color:white;
}
